

*{
  margin: 0;
  font-family: Georgia;
  font-size: 16px;
}

.navbar-toggler-icon{
  color:  #5ec1e6;
}


.card-text{
  font-size: 1.2rem;
  margin: 0;
  color: #5ec1e6;
}

footer{
  background-color: #5ec1e6;
  color: #fff;
  text-align: center;
}

.card-content{
  font-size: 1.2rem;
  margin: 0;
  color: #5ec1e6;
}

.card-welcome{
  background-color: #5ec1e6;
  color: #fff;
  text-align: center;
}
